.container-card {
    min-width: 250px;
    position: relative;
}

.card-link {
    position: absolute;
    right: 1rem;
    top: 2.2rem;
    z-index: 10 !important;
    transition: 0.3s;
    border: 1px solid #212529;
}

.card-hover {
    display: none;
}

@media (min-width: 768px) {
    .card-hover {
        display: inherit;
        transition: 0.5s;
        display: block;
        width: 10px;
        height: 100%;
        background-color: #212529;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 6px;
        z-index: 0 !important;
    }

    .container-card p,
    .container-card strong {
        transition: color 2s;
    }

    .card-link:hover ~ p,
    .card-link:hover ~ strong {
        position: relative;
        z-index: 10 !important;
        color: #fff !important;
    }

    .card-link:hover + .card-hover {
        width: 100%;
    }

    .card-link:hover {
        background-color: #212529;
        color: #fff !important;
        border: 1px solid #fff !important;
    }
}
