.container-form .form {
    max-width: 350px !important;
    width: 100%;
}

.container-form {
    height: 100vh;
    min-height: 550px;
}

.container-image .w-100 {
    height: 100vh;
    min-height: 550px;
}

.fs-14 {
    font-size: 14px !important;
}

html * {
    font-family: "Roboto", sans-serif !important;
}
