html * {
    font-family: "Roboto", sans-serif;
}

.fs-7 {
    font-size: 14px !important;
}

.table {
    font-size: 13px !important;
}

.tambah-data {
    bottom: 1rem;
    right: 1rem;
}

.aksi::before {
    vertical-align: bottom !important;
}

.pagination {
    --bs-pagination-bg: #fff !important;
    --bs-pagination-active-bg: #212529 !important;
    --bs-pagination-active-border-color: #212529 !important;
    --bs-pagination-color: #212529 !important;
    --bs-pagination-hover-color: #fff !important;
    --bs-pagination-hover-bg: rgba(0, 0, 0, 0.05) !important;
    --bs-pagination-hover-border-color: rgba(0, 0, 0, 0.05) !important;
    --bs-pagination-focus-bg: rgba(0, 0, 0, 0.05) !important;
    --bs-pagination-focus-color: #212529 !important;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(33, 37, 41, 0.25) !important;
    --bs-pagination-focus-border-color: rgba(0, 0, 0, 0.05) !important;
    --bs-pagination-border-color: #e9ecef !important;
}
