html * {
    font-family: "Roboto", sans-serif;
}

.fs-7 {
    font-size: 14px !important;
}

.table {
    font-size: 13px !important;
}

.tambah-data {
    bottom: 1rem;
    right: 1rem;
}

.aksi::before {
    vertical-align: bottom !important;
}
