.btn-toggle {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: #d2f4ea !important;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.single-link {
    color: #000000a6 !important;
}

.single-link::before {
    display: none;
}

.account-name {
    vertical-align: middle;
}

.responsive-sidebar {
    min-height: auto;
    overflow: auto;
}

.checkbox-collapse:checked ~ aside {
    visibility: visible;
    height: 303.92px !important;
}

.checkbox-search:checked + header > .container-search {
    display: flex !important;
}

.checkbox-search:checked + header > nav,
.container-search {
    display: none !important;
}

aside {
    position: inherit;
    height: 0 !important;
    visibility: hidden;
    transition: 1s ease-in-out;
    overflow: hidden !important;
}

aside * {
    font-size: 14px !important;
}

.table th a {
    text-decoration: none !important;
    color: #212529;
}

nav .section-left {
    max-width: calc(200px - 12px) !important;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content min-content;
    align-items: center;
    align-content: start;
}
nav .section-left .menu {
    justify-self: end;
}

@media (min-width: 768px) {
    .responsive-sidebar {
        border-right: 1px solid rgb(222, 226, 230);
        height: 100%;
    }

    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10 !important;
    }

    main {
        margin-left: 200px !important;
        margin-top: 53px !important;
        min-height: calc(100vh - 54.7px) !important;
        transition: margin-left 1s ease-in-out;
        background-color: #fff;
    }

    aside {
        position: fixed;
        width: 200px !important;
        top: 53px;
        visibility: visible;
        height: calc(100vh - 54.7px) !important;
        transition: none;
    }

    .checkbox-collapse:checked ~ aside {
        height: calc(100vh - 54.7px) !important;
    }

    .checkbox-collapse:checked ~ main {
        margin-left: 0 !important;
    }

    .responsive-sidebar {
        overflow: hidden;
    }
}
